/* You can add global styles to this file, and also import other style files */

.card {
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #656565;
  border-left-width: 3px;
  border-left-color: #00419c;
  text-align: left;
}
