<body>

  <div class="row" style="text-align:center">
    <h3>Localize seus amigos próximos</h3>
  </div>

  <div class="row" style="text-align:center">
    <p>Envie sua localização</p>
  </div>

  <div class="row">
    <p style="text-align:center">&nbsp;</p>
  </div>

  <div class="row">
    <div class="col-sm-6" style="text-align:right">
      <p>Latitude</p>
    </div>
    <div class="col-sm-6">
      <input type="text" [(ng-model)]="latitude" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" style="text-align:right">
      <p>Longitude</p>
    </div>
    <div class="col-sm-6">
      <input type="text" [(ng-model)]="longitude" />
    </div>
  </div>

  <div class="row" style="text-align:center">
    <p>&nbsp;</p>
  </div>

  <div class="row" style="text-align:center">
    <input type="button" class="btn btn-primary" value="Enviar" (click)="getClosestFriends()" />
  </div>

  <div class="row" style="text-align:center">
    <p>&nbsp;</p>
  </div>

  <div class="row" style="text-align:center" *ngFor="let f of friends">
    <div class="col-sm-3 card">
      <h4>{{ f.name }}</h4>
      <p>{{ f.address.street + ', ' + f.address.number }}</p>
    </div>
  </div>

</body>
